/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");

:root {
  /* Colors */
  --white-color: #ffffff;
  --transparent-white-color: rgba(255, 255, 255, 0.5);
  --dark-blue-color: #070724;
  --dark-grey-color: #38384f;
  --medium-grey-color: #838391;
  --light-grey-color: #;
  --greyish-blue-color: #419ebb;
  --yellow-color: #eda249;
  --purple-color: #6f2ed6;
  --light-red-color: D14C32;
  --red-color: #d83a34;
  --burnt-orange-color: #cd5120;
  --cyan-green-color: #1ec2a4;
  --blue-color: #2d68f0;

  /* Fonts */
  --heading-font: "Antonio", sans-serif;
  --body-font: "League Spartan", sans-serif;
}


/* General Styles & CSS Reset*/
* {
  margin: 0;
  background: var(--dark-blue-color) url(/public/assets/background-stars.svg);
}

a, button, span {
  all: unset;
}

.main-heading {
  color: var(--white-color);
  font-family: var(--heading-font);
  font-size: 5rem;
  font-weight: 500;
  line-height: 6.438rem;
  text-transform: uppercase;
}

.medium-heading {
  color: var(--white-color);
  font-family: var(--heading-font);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.25rem;
  letter-spacing: -0.094rem;
}

.small-heading {
  color: var(--white-color);
  font-family: var(--body-font);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.563rem;
  letter-spacing: 0.163rem;
}

.sub-heading {
  color: var(--transparent-white-color);
  font-family: var(--body-font);
  font-size: 0.688rem;
  font-weight: 700;
  line-height: 1.563rem;
  letter-spacing: 0.063rem;
  text-transform: uppercase;
}

.body-text {
  color: var(--white-color);
  font-family: var(--body-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.563rem;
  letter-spacing: 0.016rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 32px;
  border-bottom: 1px solid var(--medium-grey-color);
  color: var(--white-color);
}

.navbar-title {
  font-family: var(--heading-font);
  font-size: 1.75rem;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.arrow-icon {
  display: none;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.navbar-list-active {
  display: none;
}

.mobile-nav-planet {
  display: none;
}

.navbar-links {
  list-style: none;
  color: var(--transparent-white-color);
  cursor: pointer;
}

.navbar-links:hover {
  color: var(--white-color);
  transition: 0.3s;
  border-top: 4px solid;
  position: relative;
  padding-top: 31px;
}

.button-container-mobile {
  display: none;
}

/* Layout styling */
.page-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 126px 165px 30px 126px;
  }
  
  .main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 5%;
  }
  
  .img-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    flex: 2 0;
    min-width: fit-content;
  }
  
  .info-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
  }
  
  /* Image styling */
  .planet-img {
    padding-bottom: 10px;
    width: 150px;
  }
  
  .main-planet-img {
    max-width: 80%;
    max-height: 80%;
  }
  
  .geology-img {
    position: absolute;
    width: 163px;
    bottom: -30px;
    background: none;
  }

  /* Styling for home page */
.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 165px;
  }
  
  .home-container h1 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .planet-card {
    border: 1px solid var(--medium-grey-color);
    margin: 16px;
    padding: 20px;
    min-width: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  
  .planet-card h3 {
    text-transform: uppercase;
    text-align: center;
  }

  /* Card styling */
.side-card {
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 350px;
}

.card h1 {
  margin-bottom: 23px;
}

.card p {
  margin-bottom: 24px;
}

.source-link {
  font-family: var(--body-font);
  color: var(--transparent-white-color);
  font-size: 0.875rem;
  margin-bottom: 39px;
  cursor: pointer;
}

.source-link a {
  font-weight: 600;
  text-decoration: underline;
  color: var(--transparent-white-color);
}

.card-buttons {
  margin-top: 16px;
}

  /* Buttons */
.default-button {
    width: 292px;
    text-align: left;
    padding: 14px 28px;
    border: 1px solid var(--medium-grey-color);
    margin-top: 16px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 0.875rem;
    display: block;
  }
  
  .default-button:hover {
    background-color: var(--dark-grey-color);
    transition: inherit;
  }
  
  .default-button span {
    display: inline;
    padding-right: 25px;
    font-family: var(--body-font);
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 0.161rem;
  }
  
  #button-number {
    color: var(--transparent-white-color);
  }

  .modify-button-container {
    display: flex;
    gap: 20px;
  }
  
  .modify-button {
    padding: 14px 28px;
    font-family: var(--body-font);
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 0.161rem;
    border: 1px solid var(--medium-grey-color);
    font-size: 0.875rem;
    cursor: pointer;
  }
  
  .modify-button:hover {
    background-color: var(--dark-grey-color);
  }

  /* Stats container */
.stats-container {
    border: 1px solid var(--transparent-white-color);
    padding: 20px 23px;
    width: 207px;
    height: 86px;
  }
  
/* Form styling */
.form-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    min-width: 400px;
  }
  
  .form-group {
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
  }
  
  .form-section {
    flex-direction: row;
  }
  
  .form-group h3 {
    text-transform: uppercase;
    width: 100%;
  }
  
  .form-input {
    padding: 5px;
    border: 1px solid var(--transparent-white-color);
    color: var(--white-color);
    margin: 5px 0;
    display: block;
  }
  
  .input-text-block {
    height: 100px;
  }
  
  .form-button-container {
    display: flex;
    justify-content: space-between;
  }

  /* Media Queries */

@media screen and (max-width: 1345px) {

  /* General Styles */
  .main-heading {
    font-size: 3rem;
  }

  .medium-heading {
    font-size: 1.5rem;
    line-height: 1.941rem;
  }

  .sub-heading {
    font-size: 0.5rem;
    line-height: 1rem;
  }

  .body-text {
    font-size: 0.688rem;
    line-height: 1.375rem;
  }
  /* Layout */

  .home-container {
    margin: 25px 50px;
  }

  .main-section {
    flex-direction: column;
  }

  .page-container {
    margin: 50px 40px 20px 40px;
    flex-direction: column;
  }

  .img-container {
    padding-bottom: 20px;
  }

  .info-footer {
    gap: 10px;
  }

  /* Navbar */

  .navbar {
    flex-direction: column;
  }

  .navbar-title {
    margin-bottom: 39px;
  }

  .navbar-links {
    font-size: 0.688rem;
  }

  .navbar-links:hover {
    border: none;
  }

  /* image styling */
  .geology-img {
    width: 120px;
  }

  /* Card styling */
  .side-card {
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .card h1 {
    margin-bottom: 16px;
    line-height: normal;
  }

  .card p {
    margin-bottom: 32px;
  }
  /* Buttons */

  .default-button {
    padding: 8px 20px;
    margin-bottom: 16px;
    margin-top: 0;
    width: 239px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .default-button span {
    font-size: 0.563rem;
  }

  .card-buttons {
    margin: 0;
  }

  .modify-button {
    font-size: 0.563rem;
  }

  /* Stats */
.stats-container {
  width: 130px;
  height: 54px;
  padding: 16px;
}

  /*Add planet and edit planet form  */
  .form-container {
    padding-top: 10px;
  }

}

@media screen and (max-width: 595px) {
  /* Navbar */
  .navbar {
    padding: 16px 24px;
    display: block;
    border: none;
  }
  
  .navbar-title {
    margin: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    width: 24px;
  }

  .arrow-icon {
    display: block;
  }
  
  .hamburger.active {
    opacity: 0.5;
    height: 0;
  }

  .navbar-container {
    margin-top: 24px;
  }

  .navbar-list {
    flex-direction: column;
    width: auto;
    padding: 0;
    gap: 0;
  }

  .mobile-nav-planet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
  }

  .navbar-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--dark-grey-color);
  }

  .navbar-links {
    color: var(--white-color);
    font-size: 0.938rem;
    width: 100%;
    padding-left: 24px;
  }

  .navbar-links:hover {
    padding-top: 0;
  }

  #add-planet-link {
    text-align: center;
  }

  .button-container-mobile {
    display: flex;
    border: 1px solid var(--dark-grey-color);
    align-items: center;
    justify-content: space-between;
  }

  .button-mobile {
    color: var(--medium-grey-color);
    font-size: 0.563rem;
    letter-spacing: 0.121rem;
    line-height: 0.63rem;
    padding: 20px 24px;
  }

  .button-mobile:active {
    color: var(--white-color)
  }
  /* Card */
  .main-planet-img {
    max-width: 70%;
  }

  .geology-img {
    width: 80px;
  }

  .side-card {
    margin-top: 30px;
    flex-direction: column;
    gap: 0;
    text-align: center;
  }

  .planet-info-button-container {
    display: none;
  }

  /* Info Container */
  .info-footer {
    margin: 24px 24px 40px 24px;
  }

  .stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 279px;
    height: 26px;
    padding: 11px 24px;
  }
  /* Add a planet and edit planet Form */
  .form {
    min-width: 290px;
  }

}